name: Build & Push AMD64/ARM64 Image to OCIR

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build_amd64:
    if: true
    runs-on: ubuntu-latest
    environment: dev

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx (persistent)
        uses: docker/setup-buildx-action@v3
        with:
          install: true
          driver-opts: |
            network=host

      # Log in OCIR
      - name: Login to OCIR
        uses: docker/login-action@v3
        with:
          registry: ${{ secrets.OCIR_REGISTRY }}
          username: "${{ secrets.OCIR_NAMESPACE }}/${{ secrets.OCIR_USERNAME }}"
          password: ${{ secrets.OCIR_AUTH_TOKEN }}

      - name: Build & Push Multi Arch
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: true
          platforms: |
            linux/amd64
            linux/arm64
          tags: |
            ${{ secrets.OCIR_REGISTRY }}/${{ secrets.OCIR_NAMESPACE }}/${{ secrets.OCIR_REPO }}:latest
            ${{ secrets.OCIR_REGISTRY }}/${{ secrets.OCIR_NAMESPACE }}/${{ secrets.OCIR_REPO }}:${{ github.sha }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

  build_arm64:
    if: false
    runs-on: [self-hosted, k8s, arm64]
    environment: dev

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: 1.21
      
      - name: Install ko (ARM64)
        run: |
          VERSION="v0.18.0"
          curl -L -o ko.tar.gz \
            https://github.com/ko-build/ko/releases/download/${VERSION}/ko_${VERSION#v}_Linux_arm64.tar.gz

          sudo tar -xzf ko.tar.gz -C /usr/local/bin ko
          ko version

      - name: Login to OCIR
        env:
          KO_PASSWORD: ${{ secrets.OCIR_AUTH_TOKEN }}
          KO_USERNAME: ${{ secrets.OCIR_USERNAME }}/${{ secrets.OCIR_NAMESPACE }}
        run: |
          echo "$KO_PASSWORD" | ko login ${{ secrets.OCIR_REGISTRY }} \
          --username "$KO_USERNAME" \
          --password-stdin

      - name: Build & Push with ko
        env:
          KO_DOCKER_REPO: "${{ secrets.OCIR_REGISTRY }}/${{ secrets.OCIR_NAMESPACE }}/${{ secrets.OCIR_REPO }}"
          KO_DEFAULTPLATFORMS: "linux/amd64,linux/arm64"
        run: |
          ko build ./cmd

        
